<p style="color: green"><%= notice %></p>
<h1>Movies</h1>
<%= link_to "Sort by title ascending", :sort_by => 'title' %>
<%= link_to "Sort by title descending", :sort_by => 'title DESC' %>
<%= link_to "Sort by rating ascending", :sort_by => 'rating' %>
<%= link_to "Sort by rating descending", :sort_by => 'rating DESC' %>
<%= link_to "Sort by release date ascending", :sort_by => 'release_date' %>
<%= link_to "Sort by release date descending", :sort_by => 'release_date DESC' %>
<table>
  <colgroup>
    <col class = "<%= highlight_sorted('title') %>" />
    <col class = "<%= highlight_sorted('rating') %>"/>
    <col class = "<%= highlight_sorted('release_date') %>"/>
  </colgroup>
  <thead>
    <tr>
      <th>Title <%= mark_sorted('title') %></th>
      <th>Rating <%= mark_sorted('rating') %></th>
      <th>Release Date <%= mark_sorted('release_date') %></th>
      <th>Edit Movie</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
        <td>
          <%= link_to "Show this movie", movie %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New movie", new_movie_path %>
