<p style="color: green"><%= notice %></p>

<%= render @movie %>

<div id = "show_div">
  <%= link_to "Edit this movie", edit_movie_path(@movie) %> |
  <%= link_to "Back to movies", movies_path(:sort_by => session[:sort_by]) %>

  <%= button_to "Destroy this movie", @movie, method: :delete %>
</div>
